
#directories
data/
.Rproj.user/

data-raw/coxpresdb/Hsa/
data-raw/coxpresdb/Mmu/
*.ipynb_checkpoints/

*.model
*.pickle
*.svg
*.npy
*.Rhistory
*.RData
*.gz
*.bz2
*.ro
*.rds
*.sqlite
*.zip
*.CEL
*.xls
*.csv
*.csv#
*.txt
*.root
*.ods
*.soft
*.tar
.Rproj.user

